<h1><%= @cat.name %></h1>

<table>
  <th>attributes</th>
  <% @cat.attributes.each do |k, v| %>
  <% next if k == 'created_at' || k == "updated_at" %>
  <% v = "(none)" if v.nil?  %>
  <tr>
    <td> <%= k %></td>
    <td> <%= v %></td>
  </tr>

  <% end %>

  <tr>
    <td>age</td>
    <td> <%= @cat.age %></td>
  </tr>

</table>
