.profile-picture {
  z-index: 3;
  position: relative;
  width: 80%;
  height: 80%;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  margin-bottom: 20px;
}

.profile-info {
  margin: 20px;
}

.profile-info h3 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.profile-info p {
  font-weight: 400;
}

.profile-nav {
  margin: 20px;
  margin-bottom: 30px;
}

.profile-nav li {
  font-weight: 700;
  padding: 2px;
  border-top: 1px solid #aaa;
}

.profile-nav li:last-of-type {
  border-bottom: 1px solid #aaa;
}

.profile-nav li:hover {
  background: #eee;
}
