<form action="<%=url_for(object)%>" method="post">
  <%=render "shared/auth_token" %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit", value="Destroy <%=(object.class)%>!">
</form>
