  <%=render "shared/auth_token" %>
  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]" value="<%=user.email%>">


  <label for="password">Password</label>
  <input type="text" id="password" name="user[password]" value="<%=user.password%>">

  <input type="submit">
</form>
